html {background: radial-gradient(farthest-corner at right top,#f1f1f1, #f0f0f0); height: 100%;  font-family: 'Roboto', sans-serif; box-sizing: border-box;}
body {box-sizing: border-box; margin: 0;}
.conteudo {display: flex; flex-direction: column;}
.principal {position: fixed; width: 100vw; padding: 1.75em 1.75em 0; box-sizing: border-box; background-color: #f0f0f0; }
#novoItem {display: flex; flex-direction: column;}
#novoItem input[type="text"], #novoItem input[type="number"] {padding: 0.25em 0; font-size: 1.8em; border: none; border-bottom: 1px solid #d9d9d9; background: rgba(255,255,255,0);  color: #5a5a5a;}
#novoItem input[type="text"] { margin-bottom: 0.5em;}
#novoItem input[type="submit"] {padding: 1.25em; font-size: 1em; text-transform: uppercase; font-weight: bold; color: #0c8f89; background: transparent; border: none;}
label{text-transform: uppercase; font-weight: bold; font-size: .85em; color: #404040;}
ul.lista {margin-top: 280px; padding: 0 1.75em 1.75em;} 
ul.lista .item {display: flex; align-items: center; font-size: 1em; text-transform: uppercase; font-weight: bold; padding: .75em 0; border-bottom: 2px solid #e5e5e5; color: #404040;}
ul.lista .item strong{display: flex; width: 40px; height: 40px;border-radius: 120px; justify-content: center; align-items: center; background-color: #0c8f89; color: #FFF;}
ul.lista .item span{width: 80%; padding: 0 1em;}
ul.lista .item button{width: 10%; border: none; font-size: 2rem; font-weight: bold; color: #838383;}
textarea:focus-visible, input:focus-visible { box-shadow: 0 !important ; outline: 0 !important;}

@media (min-width: 750px){
.conteudo{flex-direction: row; justify-content: center;}
.principal{width: 20vw; position: static;}
ul.lista{width: 30vw; margin-top: 0;}
}